In [8]:
import numpy as np

In [9]:
y = np.random.random(16)

In [10]:
y

array([0.5721369 , 0.10704195, 0.01368676, 0.52047336, 0.91128538,
       0.47131376, 0.43908242, 0.48557871, 0.89321379, 0.07409252,
       0.41037851, 0.54065187, 0.60093984, 0.49705334, 0.66113537,
       0.75877386])

In [14]:
y = y.reshape(4,4)
y

array([[0.5721369 , 0.10704195, 0.01368676, 0.52047336],
       [0.91128538, 0.47131376, 0.43908242, 0.48557871],
       [0.89321379, 0.07409252, 0.41037851, 0.54065187],
       [0.60093984, 0.49705334, 0.66113537, 0.75877386]])

In [15]:
y.ravel()

array([0.5721369 , 0.10704195, 0.01368676, 0.52047336, 0.91128538,
       0.47131376, 0.43908242, 0.48557871, 0.89321379, 0.07409252,
       0.41037851, 0.54065187, 0.60093984, 0.49705334, 0.66113537,
       0.75877386])

In [18]:
y[0:2,1]

array([0.10704195, 0.47131376])

In [17]:
y[:,3]

array([0.52047336, 0.48557871, 0.54065187, 0.75877386])

In [21]:
for satır in y:
    print(satır)

[0.5721369  0.10704195 0.01368676 0.52047336]
[0.91128538 0.47131376 0.43908242 0.48557871]
[0.89321379 0.07409252 0.41037851 0.54065187]
[0.60093984 0.49705334 0.66113537 0.75877386]

In [22]:
for satır in y.flat:
    print(satır)

0.572136899916848
0.10704194633496589
0.01368675500430716
0.5204733629062891
0.9112853771934898
0.4713137646544805
0.439082419607314
0.4855787121870493
0.89321379311087
0.07409251895011704
0.41037851472082354
0.5406518744137259
0.6009398448515653
0.49705333611965863
0.6611353670702124
0.7587738568542897

In [25]:
for satır in np.ndenumerate(y):
    print(satır)

((0, 0), 0.572136899916848)
((0, 1), 0.10704194633496589)
((0, 2), 0.01368675500430716)
((0, 3), 0.5204733629062891)
((1, 0), 0.9112853771934898)
((1, 1), 0.4713137646544805)
((1, 2), 0.439082419607314)
((1, 3), 0.4855787121870493)
((2, 0), 0.89321379311087)
((2, 1), 0.07409251895011704)
((2, 2), 0.41037851472082354)
((2, 3), 0.5406518744137259)
((3, 0), 0.6009398448515653)
((3, 1), 0.49705333611965863)
((3, 2), 0.6611353670702124)
((3, 3), 0.7587738568542897)

In [26]:
a = np.array([2,3])
b = np.array([5,6])

In [34]:
np.hstack((a,b))

array([2, 3, 5, 6])

In [33]:
np.vstack((a,b))

array([[2, 3],
       [5, 6]])

In [38]:
a = np.array([[1,2],[3,4]])
b = np.array([[5,6]])
np.concatenate((a,b),axis = 0)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [39]:
np.concatenate((a,b.T),axis = 1)

array([[1, 2, 5],
       [3, 4, 6]])

In [40]:
a = np.arange(20,90,20)
a

array([20, 40, 60, 80])

In [44]:
b = np.arange(4)
b

array([0, 1, 2, 3])

In [45]:
c = a+b
c

array([20, 41, 62, 83])

In [46]:
a**2

array([ 400, 1600, 3600, 6400], dtype=int32)

In [47]:
a>50

array([False, False,  True,  True])

In [48]:
 a += 10

In [49]:
a

array([30, 50, 70, 90])

In [50]:
x = np.random.random(12)
x

array([0.85555732, 0.50679625, 0.68593529, 0.03829252, 0.42222515,
       0.44974189, 0.23189355, 0.18779148, 0.69888668, 0.00265159,
       0.13851842, 0.45086539])

In [52]:
x.max(),x.min(),x.sum()

(0.8555573174266003, 0.00265158967574719, 4.669155535316711)

In [53]:
b = np.arange(15).reshape(3,5)

In [54]:
b

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [55]:
b.sum(axis = 0)

array([15, 18, 21, 24, 27])

In [56]:
b.sum(axis = 1)

array([10, 35, 60])

In [57]:
b.cumsum(axis=1)

array([[ 0,  1,  3,  6, 10],
       [ 5, 11, 18, 26, 35],
       [10, 21, 33, 46, 60]], dtype=int32)

In [58]:
b.cumsum(axis=0)

array([[ 0,  1,  2,  3,  4],
       [ 5,  7,  9, 11, 13],
       [15, 18, 21, 24, 27]], dtype=int32)

In [61]:
k = np.random.random(10)
k

array([0.9020189 , 0.10295019, 0.62607963, 0.18770249, 0.9364605 ,
       0.89429035, 0.89583003, 0.71921751, 0.86044819, 0.22656679])

In [62]:
k.mean(),np.median(k),np.var(k),np.std(k)

(0.6351564564317271,
 0.7898328486464086,
 0.10054098784771677,
 0.31708198915693203)

In [63]:
np.unique(k)

array([0.10295019, 0.18770249, 0.22656679, 0.62607963, 0.71921751,
       0.86044819, 0.89429035, 0.89583003, 0.9020189 , 0.9364605 ])

In [31]:
import pandas as pd
import numpy as np

In [14]:
x=[1,2,3,4,5,6]
x=pd.Series(x)

In [10]:
ülke=["abd","çin","tükiye","fransa"]
ülke = pd.Series(ülke)

In [7]:
gelir={"abd":80000,"aimanya":50000,"türkşiye":15000}
pd.Series(gelir)

abd         80000
aimanya     50000
türkşiye    15000
dtype: int64

In [11]:
ülke.values

array(['abd', 'çin', 'tükiye', 'fransa'], dtype=object)

In [12]:
ülke.index

RangeIndex(start=0, stop=4, step=1)

In [13]:
ülke.dtype

dtype('O')

In [15]:
x.shape

(6,)

In [16]:
ülke.name="ülker"

In [17]:
ülke.head()

0       abd
1       çin
2    tükiye
3    fransa
Name: ülker, dtype: object

In [18]:
yıllar = [2015,2016,2017,2018]
gelir =[10000,20000,30000,40000]
pd.Series(data =gelir,index=yıllar)

2015    10000
2016    20000
2017    30000
2018    40000
dtype: int64

In [19]:
sayı=[1,2,4,6,7,3,34]
sayı=pd.Series(sayı)

In [26]:
sayı.sum(),sayı.max(),sayı.min(),sayı.mean(),sayı.median(),sayı.std()

(57, 34, 1, 8.142857142857142, 4.0, 11.596386957849866)

In [34]:
sayı.describe()

count     7.000000
mean      8.142857
std      11.596387
min       1.000000
25%       2.500000
50%       4.000000
75%       6.500000
max      34.000000
dtype: float64

In [37]:
ülke = pd.read_csv("ülke.csv")
ülke

               Ülke
0               ABD
1               Çin
2           Japonya
3           Almanya
4         İngiltere
5            Fransa
6         Hindistan
7            İtalya
8          Brezilya
9            Kanada
10            Rusya
11       GÜney Kore
12          İspanya
13      Avusturalya
14          Meksika
15        Endonezya
16         Hollanda
17          Türkiye
18  Suudi Arabistan
19          İsviçre

In [38]:
ülke = pd.read_csv("ülke.csv", squeeze=True)
ülke

0                 ABD
1                 Çin
2             Japonya
3             Almanya
4           İngiltere
5              Fransa
6           Hindistan
7              İtalya
8            Brezilya
9              Kanada
10              Rusya
11         GÜney Kore
12            İspanya
13        Avusturalya
14            Meksika
15          Endonezya
16           Hollanda
17            Türkiye
18    Suudi Arabistan
19            İsviçre
Name: Ülke, dtype: object

In [39]:
gelir = pd.read_csv("milligelir.csv")
gelir

    Milli Gelir
0      20410000
1      14090000
2       5170000
3       4210000
4       2940000
5       2930000
6       2850000
7       2180000
8       2140000
9       1800000
10      1720000
11      1690000
12      1510000
13      1500000
14      1210000
15      1070000
16       945000
17       910000
18       748000
19       741000

In [47]:
gelir.head(2),gelir.tail(2)

(   Milli Gelir
 0     20410000
 1     14090000,     Milli Gelir
 18       748000
 19       741000)

In [62]:
ülke = pd.read_csv("ülke.csv", squeeze=True)
gelir = pd.read_csv("milligelir.csv", squeeze=True)

In [51]:
len(ülke),len(gelir),type(ülke),type(gelir)

(20, 20, pandas.core.series.Series, pandas.core.series.Series)

In [52]:
sorted(ülke)

['ABD',
 'Almanya',
 'Avusturalya',
 'Brezilya',
 'Endonezya',
 'Fransa',
 'GÜney Kore',
 'Hindistan',
 'Hollanda',
 'Japonya',
 'Kanada',
 'Meksika',
 'Rusya',
 'Suudi Arabistan',
 'Türkiye',
 'Çin',
 'İngiltere',
 'İspanya',
 'İsviçre',
 'İtalya']

In [53]:
sorted(gelir)

[741000,
 748000,
 910000,
 945000,
 1070000,
 1210000,
 1500000,
 1510000,
 1690000,
 1720000,
 1800000,
 2140000,
 2180000,
 2850000,
 2930000,
 2940000,
 4210000,
 5170000,
 14090000,
 20410000]

In [54]:
list(ülke)

['ABD',
 'Çin',
 'Japonya',
 'Almanya',
 'İngiltere',
 'Fransa',
 'Hindistan',
 'İtalya',
 'Brezilya',
 'Kanada',
 'Rusya',
 'GÜney Kore',
 'İspanya',
 'Avusturalya',
 'Meksika',
 'Endonezya',
 'Hollanda',
 'Türkiye',
 'Suudi Arabistan',
 'İsviçre']

In [55]:
list(gelir)

[20410000,
 14090000,
 5170000,
 4210000,
 2940000,
 2930000,
 2850000,
 2180000,
 2140000,
 1800000,
 1720000,
 1690000,
 1510000,
 1500000,
 1210000,
 1070000,
 945000,
 910000,
 748000,
 741000]

In [56]:
dict(gelir)

{0: 20410000,
 1: 14090000,
 2: 5170000,
 3: 4210000,
 4: 2940000,
 5: 2930000,
 6: 2850000,
 7: 2180000,
 8: 2140000,
 9: 1800000,
 10: 1720000,
 11: 1690000,
 12: 1510000,
 13: 1500000,
 14: 1210000,
 15: 1070000,
 16: 945000,
 17: 910000,
 18: 748000,
 19: 741000}

In [57]:
dict(ülke)

{0: 'ABD',
 1: 'Çin',
 2: 'Japonya',
 3: 'Almanya',
 4: 'İngiltere',
 5: 'Fransa',
 6: 'Hindistan',
 7: 'İtalya',
 8: 'Brezilya',
 9: 'Kanada',
 10: 'Rusya',
 11: 'GÜney Kore',
 12: 'İspanya',
 13: 'Avusturalya',
 14: 'Meksika',
 15: 'Endonezya',
 16: 'Hollanda',
 17: 'Türkiye',
 18: 'Suudi Arabistan',
 19: 'İsviçre'}

In [64]:
ülke.sort_values().head()

0             ABD
3         Almanya
13    Avusturalya
8        Brezilya
15      Endonezya
Name: Ülke, dtype: object