In [1]:
ben = "benim ismim Tolga Güldütuna"
len(ben)

27

In [2]:
ben

'benim ismim Tolga Güldütuna'

In [4]:
ben[0]

'b'

In [5]:
ben[6:11]

'ismim'

In [6]:
ben[-1]

'a'

In [7]:
isim = "Tolga"
soyisim = "Güldütuna"
benim = "benim ismim {} {}".format(isim,soyisim)
benim

'benim ismim Tolga Güldütuna'

In [8]:
isimgir = input("isminizi girin = ")

isminizi girin = tolga

In [10]:
ben +  "ve makine öğrenmesi uzmanıyım"

'benim ismim Tolga Güldütunave makine öğrenmesi uzmanıyımve makine öğrenmesi uzmanıyım'

In [11]:
ben.replace("Tolga" , "Samet")

'benim ismim Samet Güldütunave makine öğrenmesi uzmanıyım'

In [15]:
ben1 = ben.split()
ben1

['benim', 'ismim', 'Tolga', 'Güldütunave', 'makine', 'öğrenmesi', 'uzmanıyım']

In [21]:
ben1[0]

'benim'

In [23]:
sen = "hadi gel buraya"
sen.capitalize()

'Hadi gel buraya'

In [26]:
sen.count("a"),sen.index("i")

(3, 3)

In [30]:
birleştir = " ".join(ben1)
birleştir.upper(),birleştir.lower()

('BENIM ISMIM TOLGA GÜLDÜTUNAVE MAKINE ÖĞRENMESI UZMANIYIM',
 'benim ismim tolga güldütunave makine öğrenmesi uzmanıyım')

In [32]:
6*3,14/2,14//2,3*3*3,3**3

(18, 7.0, 7, 27, 27)

In [39]:
sayı = [2,3,45,8,786,90]
max(sayı),min(sayı),sum(sayı),

(786, 936)

In [41]:
a = 23
a == 23, a==24

(True, False)

In [45]:
l = ["tolga", "ali" , "mehmet"]
m = [1,5,8,23,45,67]
k=[1,34,[3,56]]
len(l),m[3]

(3, 23)

In [46]:
m + [7]

[1, 5, 8, 23, 45, 67, 7]

In [51]:
b = l+m
b

['tolga', 'ali', 'mehmet', 1, 5, 8, 23, 45, 67]

In [52]:
b.append("kemal")
b

['tolga', 'ali', 'mehmet', 1, 5, 8, 23, 45, 67, 'kemal']

In [61]:
b.insert(3, "yedi")
b

['tolga', 'mehmet', 'yedi', 'yedi', 1, 5, 8, 23, 45, 67, 'kemal']

In [63]:
b.remove("yedi")
b

['tolga', 'mehmet', 1, 5, 8, 23, 45, 67, 'kemal']

In [65]:
m.sort()
m

[1, 5, 8, 23, 45, 67]

In [67]:
l.sort()
l

['ali', 'mehmet', 'tolga']

In [68]:
c = [5,656,532,2,52,2,2]
c.count(2)

3

In [70]:
c.clear()
c

[]

In [72]:
s = ("elma","armut","kiraz")
s[2]

'kiraz'

In [74]:
s = s +("kavun" ,)
s

('elma', 'armut', 'kiraz', 'kavun', 'kavun')

In [75]:
k=(2,4,6,8,10,4,4)
k.count(4)

3

In [76]:
k[2:4]

(6, 8)

In [87]:
yeni = {"anahtar":"tolga","ahmet":"insan"}
yeni.keys(),yeni.values()

(dict_keys(['anahtar', 'ahmet']), dict_values(['tolga', 'insan']))

In [92]:
a = 4
a +=5
a

9

In [93]:
a*=4
a

36

In [95]:
n=30
n>10

True

In [96]:
if n >10:
    print("10 dan büyük")

10 dan büyük

In [97]:
def kare(sayı):
    print(sayı**2)

In [99]:
kare(100)

10000

In [104]:
def isminiz():
    isim = input ("isim = ")
    print(isim)

In [ ]:
 isminiz() + "güldütuna"

In [ ]:
float(5)

In [ ]:
float(7)

In [ ]:
x = [1,5,21,525,5,5,55]

In [ ]:
max(x)