In [32]:
import pandas as pd

In [17]:
x=[1,2,3,4,5,6]
x=pd.Series(x)
x

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [11]:
ülke=["abd","çin","türkiye","kktc"]
ülke=pd.Series(ülke)
ülke

0        abd
1        çin
2    türkiye
3       kktc
dtype: object

In [10]:
ülke.values

array(['abd', 'çin', 'türkiye', 'kktc'], dtype=object)

In [12]:
ülke.index

RangeIndex(start=0, stop=4, step=1)

In [13]:
ülke.dtype

dtype('O')

In [18]:
x.dtype

dtype('int64')

In [19]:
x.shape

(6,)

In [20]:
ülke.shape

(4,)

In [23]:
ülke.name="ülkeler"
x.name="sayılar"
ülke.head()

0        abd
1        çin
2    türkiye
3       kktc
Name: ülkeler, dtype: object

In [24]:
x.head()

0    1
1    2
2    3
3    4
4    5
Name: sayılar, dtype: int64

In [39]:
yıllar = [2015,2016,2017,2018,2019]
gelir = [10000,20000,30000,40000,50000]

pd.Series(data = gelir ,index = yıllar)

2015    10000
2016    20000
2017    30000
2018    40000
2019    50000
dtype: int64

In [41]:
sayı = [1,2,4,6,8,3,34]
sayı = pd.Series(sayı)
sayı

0     1
1     2
2     4
3     6
4     8
5     3
6    34
dtype: int64

In [42]:
sayı.sum()

58

In [43]:
sayı.max()

34

In [44]:
sayı.min()

1

11.58611648647187

In [46]:
sayı.var()

134.23809523809527

In [47]:
sayı.median()

4.0

In [52]:
sayı.mean(),sayı.median(),sayı.std(),sayı.product()

(8.285714285714286, 4.0, 11.58611648647187, 39168)

In [51]:
sayı.product()

39168