In [1]:
import pandas as pd

In [3]:
ülke = pd.read_csv("ülke.csv")
ülke

               Ülke
0               ABD
1               Çin
2           Japonya
3           Almanya
4         İngiltere
5            Fransa
6         Hindistan
7            İtalya
8          Brezilya
9            Kanada
10            Rusya
11       GÜney Kore
12          İspanya
13      Avusturalya
14          Meksika
15        Endonezya
16         Hollanda
17          Türkiye
18  Suudi Arabistan
19          İsviçre

In [4]:
ülke = pd.read_csv("ülke.csv",squeeze=True)
ülke

0                 ABD
1                 Çin
2             Japonya
3             Almanya
4           İngiltere
5              Fransa
6           Hindistan
7              İtalya
8            Brezilya
9              Kanada
10              Rusya
11         GÜney Kore
12            İspanya
13        Avusturalya
14            Meksika
15          Endonezya
16           Hollanda
17            Türkiye
18    Suudi Arabistan
19            İsviçre
Name: Ülke, dtype: object

In [27]:
gelir = pd.read_csv("milligelir.csv",squeeze=True)
gelir

0     20410000
1     14090000
2      5170000
3      4210000
4      2940000
5      2930000
6      2850000
7      2180000
8      2140000
9      1800000
10     1720000
11     1690000
12     1510000
13     1500000
14     1210000
15     1070000
16      945000
17      910000
18      748000
19      741000
Name: Milli Gelir, dtype: int64

In [9]:
gelir.head()

   Milli Gelir
0     20410000
1     14090000
2      5170000
3      4210000
4      2940000

In [14]:
gelir.tail(20)

    Milli Gelir
0      20410000
1      14090000
2       5170000
3       4210000
4       2940000
5       2930000
6       2850000
7       2180000
8       2140000
9       1800000
10      1720000
11      1690000
12      1510000
13      1500000
14      1210000
15      1070000
16       945000
17       910000
18       748000
19       741000

In [16]:
ülke,gelir,len(gelir)

(0                 ABD
 1                 Çin
 2             Japonya
 3             Almanya
 4           İngiltere
 5              Fransa
 6           Hindistan
 7              İtalya
 8            Brezilya
 9              Kanada
 10              Rusya
 11         GÜney Kore
 12            İspanya
 13        Avusturalya
 14            Meksika
 15          Endonezya
 16           Hollanda
 17            Türkiye
 18    Suudi Arabistan
 19            İsviçre
 Name: Ülke, dtype: object,     Milli Gelir
 0      20410000
 1      14090000
 2       5170000
 3       4210000
 4       2940000
 5       2930000
 6       2850000
 7       2180000
 8       2140000
 9       1800000
 10      1720000
 11      1690000
 12      1510000
 13      1500000
 14      1210000
 15      1070000
 16       945000
 17       910000
 18       748000
 19       741000, 20)

In [18]:
type(ülke),type(gelir)

(pandas.core.series.Series, pandas.core.frame.DataFrame)

In [21]:
sorted(ülke)

['ABD',
 'Almanya',
 'Avusturalya',
 'Brezilya',
 'Endonezya',
 'Fransa',
 'GÜney Kore',
 'Hindistan',
 'Hollanda',
 'Japonya',
 'Kanada',
 'Meksika',
 'Rusya',
 'Suudi Arabistan',
 'Türkiye',
 'Çin',
 'İngiltere',
 'İspanya',
 'İsviçre',
 'İtalya']

In [25]:
list(ülke)

['ABD',
 'Çin',
 'Japonya',
 'Almanya',
 'İngiltere',
 'Fransa',
 'Hindistan',
 'İtalya',
 'Brezilya',
 'Kanada',
 'Rusya',
 'GÜney Kore',
 'İspanya',
 'Avusturalya',
 'Meksika',
 'Endonezya',
 'Hollanda',
 'Türkiye',
 'Suudi Arabistan',
 'İsviçre']

In [28]:
dict(gelir)

{0: 20410000,
 1: 14090000,
 2: 5170000,
 3: 4210000,
 4: 2940000,
 5: 2930000,
 6: 2850000,
 7: 2180000,
 8: 2140000,
 9: 1800000,
 10: 1720000,
 11: 1690000,
 12: 1510000,
 13: 1500000,
 14: 1210000,
 15: 1070000,
 16: 945000,
 17: 910000,
 18: 748000,
 19: 741000}

In [30]:
max(gelir),min(gelir)

(20410000, 741000)

In [34]:
ülke.sort_values().head(),gelir.sort_values()

(0             ABD
 3         Almanya
 13    Avusturalya
 8        Brezilya
 15      Endonezya
 Name: Ülke, dtype: object, 19      741000
 18      748000
 17      910000
 16      945000
 15     1070000
 14     1210000
 13     1500000
 12     1510000
 11     1690000
 10     1720000
 9      1800000
 8      2140000
 7      2180000
 6      2850000
 5      2930000
 4      2940000
 3      4210000
 2      5170000
 1     14090000
 0     20410000
 Name: Milli Gelir, dtype: int64)

In [35]:
gelir.sort_values(ascending=False)

0     20410000
1     14090000
2      5170000
3      4210000
4      2940000
5      2930000
6      2850000
7      2180000
8      2140000
9      1800000
10     1720000
11     1690000
12     1510000
13     1500000
14     1210000
15     1070000
16      945000
17      910000
18      748000
19      741000
Name: Milli Gelir, dtype: int64

In [36]:
gelir.sort_values(ascending=False).tall()

AttributeError: 'Series' object has no attribute 'tall'

In [ ]:
gelir.sort_values(ascending=False).tall()