In [1]:
import pandas as pd

In [48]:
ülke = pd.read_csv("ülke.csv",squeeze=True)
gelir = pd.read_csv("milligelir.csv",squeeze=True)
gelir

0     20410000
1     14090000
2      5170000
3      4210000
4      2940000
5      2930000
6      2850000
7      2180000
8      2140000
9      1800000
10     1720000
11     1690000
12     1510000
13     1500000
14     1210000
15     1070000
16      945000
17      910000
18      748000
19      741000
Name: Milli Gelir, dtype: int64

In [5]:
ülke.sort_values().head()

0             ABD
3         Almanya
13    Avusturalya
8        Brezilya
15      Endonezya
Name: Ülke, dtype: object

In [11]:
gelir.sort_values(ascending=True).tail()

4     2940000
3     4210000
2     5170000
1    14090000
0    20410000
Name: Milli Gelir, dtype: int64

In [47]:
gelir.sort_values(ascending=True)
gelir

19      741000
18      748000
17      910000
16      945000
15     1070000
14     1210000
13     1500000
12     1510000
11     1690000
10     1720000
9      1800000
8      2140000
7      2180000
6      2850000
5      2930000
4      2940000
3      4210000
2      5170000
1     14090000
0     20410000
Name: Milli Gelir, dtype: int64

In [15]:
gelir.sort_index()

0     20410000
1     14090000
2      5170000
3      4210000
4      2940000
5      2930000
6      2850000
7      2180000
8      2140000
9      1800000
10     1720000
11     1690000
12     1510000
13     1500000
14     1210000
15     1070000
16      945000
17      910000
18      748000
19      741000
Name: Milli Gelir, dtype: int64

In [16]:
1 in [1,2,3,4]

True

In [19]:
"ABD" in ülke.values

True

In [24]:
ülke[0],ülke[5],ülke[:10],

('ABD', 'Fransa', 0          ABD
 1          Çin
 2      Japonya
 3      Almanya
 4    İngiltere
 5       Fransa
 6    Hindistan
 7       İtalya
 8     Brezilya
 9       Kanada
 Name: Ülke, dtype: object)

In [28]:
gelir.count(),len(gelir),gelir.sum(),gelir.mean(),gelir.std(),gelir.median(),gelir.max(),gelir.min()

(20, 20, 70764000, 3538200.0, 4935789.411612845, 1760000.0, 20410000, 741000)

In [29]:
gelir.describe()

count    2.000000e+01
mean     3.538200e+06
std      4.935789e+06
min      7.410000e+05
25%      1.175000e+06
50%      1.760000e+06
75%      2.932500e+06
max      2.041000e+07
Name: Milli Gelir, dtype: float64

In [32]:
kıta = pd.read_csv("kıta.csv",squeeze=True)
kıta

0     Kuzey Amerika
1              Asya
2              Asya
3            Avrupa
4            Avrupa
5            Avrupa
6              Asya
7            Avrupa
8     Güney Amerika
9     Kuzey Amerika
10           Avrupa
11             Asya
12           Avrupa
13        Okyanusya
14    Kuzey Amerika
15             Asya
16           Avrupa
17             Asya
18             Asya
19           Avrupa
Name: KITA, dtype: object

In [35]:
kıta.value_counts(ascending=True)

Okyanusya        1
Güney Amerika    1
Kuzey Amerika    3
Asya             7
Avrupa           8
Name: KITA, dtype: int64

In [40]:
gelir.idxmax(),gelir[0],gelir.idxmin(),gelir[19]

(0, 20410000, 19, 741000)

In [45]:
def sınıf(gel):
    if gel < 2000000:
        return "orta"
    elif gel>=2000000 and gel<=5000000:
        return "yüksek"
    else:
            return "çok yüksek"

In [49]:
gelir.apply(sınıf)

0     çok yüksek
1     çok yüksek
2     çok yüksek
3         yüksek
4         yüksek
5         yüksek
6         yüksek
7         yüksek
8         yüksek
9           orta
10          orta
11          orta
12          orta
13          orta
14          orta
15          orta
16          orta
17          orta
18          orta
19          orta
Name: Milli Gelir, dtype: object

In [50]:
gelir.apply(lambda gelir:gelir*2)

0     40820000
1     28180000
2     10340000
3      8420000
4      5880000
5      5860000
6      5700000
7      4360000
8      4280000
9      3600000
10     3440000
11     3380000
12     3020000
13     3000000
14     2420000
15     2140000
16     1890000
17     1820000
18     1496000
19     1482000
Name: Milli Gelir, dtype: int64

In [52]:
x = pd.read_csv("dünya.csv")
x

               Ülke     Gelir     Nüfus  Kişi Başına           KITA
0               ABD  20410000   323,766        63039  Kuzey Amerika
1               Çin  14090000  1415,045         9957           Asya
2           Japonya   5170000   127,185        40649           Asya
3           Almanya   4210000    82,293        51158         Avrupa
4         İngiltere   2940000    66,573        44162         Avrupa
5            Fransa   2930000    65,233        44915         Avrupa
6         Hindistan   2850000  1354,051         2104           Asya
7            İtalya   2180000     59,29        36768         Avrupa
8          Brezilya   2140000   210,867        10148  Güney Amerika
9            Kanada   1800000    36,953        48710  Kuzey Amerika
10            Rusya   1720000   143,967        11947         Avrupa
11       GÜney Kore   1690000    51,164        33031           Asya
12          İspanya   1510000    46,397        32545         Avrupa
13      Avusturalya   1500000    24,772        60552      Okyanusya
14          Meksika   1210000   130,759         9253  Kuzey Amerika
15        Endonezya   1070000   266,794         4010           Asya
16         Hollanda    945000    17,084        55314         Avrupa
17          Türkiye    910000    81,916        11108           Asya
18  Suudi Arabistan    748000    33,554        22292           Asya
19          İsviçre    741000     8,554        86626         Avrupa

In [53]:
x.head(),x.tail()

(        Ülke     Gelir     Nüfus  Kişi Başına           KITA
 0        ABD  20410000   323,766        63039  Kuzey Amerika
 1        Çin  14090000  1415,045         9957           Asya
 2    Japonya   5170000   127,185        40649           Asya
 3    Almanya   4210000    82,293        51158         Avrupa
 4  İngiltere   2940000    66,573        44162         Avrupa,
                Ülke    Gelir    Nüfus  Kişi Başına    KITA
 15        Endonezya  1070000  266,794         4010    Asya
 16         Hollanda   945000   17,084        55314  Avrupa
 17          Türkiye   910000   81,916        11108    Asya
 18  Suudi Arabistan   748000   33,554        22292    Asya
 19          İsviçre   741000    8,554        86626  Avrupa)

In [54]:
x.index

RangeIndex(start=0, stop=20, step=1)

In [55]:
x.describe()

              Gelir   Kişi Başına
count  2.000000e+01     20.000000
mean   3.538200e+06  33914.400000
std    4.935789e+06  23377.483666
min    7.410000e+05   2104.000000
25%    1.175000e+06  10868.000000
50%    1.760000e+06  34899.500000
75%    2.932500e+06  49322.000000
max    2.041000e+07  86626.000000

In [57]:
x.shape

(20, 5)

In [59]:
x.axes

[RangeIndex(start=0, stop=20, step=1),
 Index(['Ülke', 'Gelir', 'Nüfus', 'Kişi Başına', 'KITA'], dtype='object')]

In [60]:
x.columns

Index(['Ülke', 'Gelir', 'Nüfus', 'Kişi Başına', 'KITA'], dtype='object')

In [61]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
Ülke           20 non-null object
Gelir          20 non-null int64
Nüfus          20 non-null object
Kişi Başına    20 non-null int64
KITA           20 non-null object
dtypes: int64(2), object(3)
memory usage: 880.0+ bytes

In [63]:
x = pd.read_csv("dünya.csv",index_col="Ülke")
x

                    Gelir     Nüfus  Kişi Başına           KITA
Ülke
ABD              20410000   323,766        63039  Kuzey Amerika
Çin              14090000  1415,045         9957           Asya
Japonya           5170000   127,185        40649           Asya
Almanya           4210000    82,293        51158         Avrupa
İngiltere         2940000    66,573        44162         Avrupa
Fransa            2930000    65,233        44915         Avrupa
Hindistan         2850000  1354,051         2104           Asya
İtalya            2180000     59,29        36768         Avrupa
Brezilya          2140000   210,867        10148  Güney Amerika
Kanada            1800000    36,953        48710  Kuzey Amerika
Rusya             1720000   143,967        11947         Avrupa
GÜney Kore        1690000    51,164        33031           Asya
İspanya           1510000    46,397        32545         Avrupa
Avusturalya       1500000    24,772        60552      Okyanusya
Meksika           1210000   130,759         9253  Kuzey Amerika
Endonezya         1070000   266,794         4010           Asya
Hollanda           945000    17,084        55314         Avrupa
Türkiye            910000    81,916        11108           Asya
Suudi Arabistan    748000    33,554        22292           Asya
İsviçre            741000     8,554        86626         Avrupa

In [64]:
x

                    Gelir     Nüfus  Kişi Başına           KITA
Ülke
ABD              20410000   323,766        63039  Kuzey Amerika
Çin              14090000  1415,045         9957           Asya
Japonya           5170000   127,185        40649           Asya
Almanya           4210000    82,293        51158         Avrupa
İngiltere         2940000    66,573        44162         Avrupa
Fransa            2930000    65,233        44915         Avrupa
Hindistan         2850000  1354,051         2104           Asya
İtalya            2180000     59,29        36768         Avrupa
Brezilya          2140000   210,867        10148  Güney Amerika
Kanada            1800000    36,953        48710  Kuzey Amerika
Rusya             1720000   143,967        11947         Avrupa
GÜney Kore        1690000    51,164        33031           Asya
İspanya           1510000    46,397        32545         Avrupa
Avusturalya       1500000    24,772        60552      Okyanusya
Meksika           1210000   130,759         9253  Kuzey Amerika
Endonezya         1070000   266,794         4010           Asya
Hollanda           945000    17,084        55314         Avrupa
Türkiye            910000    81,916        11108           Asya
Suudi Arabistan    748000    33,554        22292           Asya
İsviçre            741000     8,554        86626         Avrupa